/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Plain Light';
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    position: relative;
    background-color: #0a0a0a;
}

#crsr{
    position: fixed;
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.546);
    z-index: 99999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #0b0b0b;
    padding: 18vh 6vw;
}
.line{
    display: flex;
    gap: 3.5vw;
    height: 6.9vw;
    overflow: hidden;
    justify-content: flex-start;
}
#line1-part1{
    margin-left: 5vw;
    margin-top: 1vw;
    display: flex;
    justify-self: center;
    gap: 1.7vw;
}
#line1-part1 h5{
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
}
#prog1{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.7vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-family: 'silk serif';
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-size: 6.7vw;
    text-transform: uppercase;
    font-weight: 500;
    animation-duration:  1.5s;
    animation-iteration-count: 1;
    opacity: 0;
}
@keyframes anime {
    0%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    47%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }

    50%{
        font-family: 'Plain Light';
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'Plain Light';
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
}
#loader-msg{
    font: 'Plain Light';
    margin-top: 10vh;
    margin-left: 21vw;
}
#page1{
    height: 95vh;
    width: 100vw;
    background-color: #151515;
    position: relative;
}
#nav{
    padding: 2.8vw 4.6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-part1{
    display: flex;
    align-items: center;
    gap: 2.5vw;
}
#nav-part2{
    font-family: 'Plain light';
    font-weight: 500;
    display: flex;
    gap: 2.2vw;
} 
#nav-part2 h4{
    position: relative;
    cursor: pointer;
} 
#page1-caption{
    position: absolute;
    top: 6%;
    left: 28%;
}
.hero{
    display: flex;
    align-items: center;
    text-align: left;
    width: 65%;
    margin-left: 27.5%;
    overflow: hidden;
}
.hero:nth-child(1){
    margin-top: 13.8vh;
}
.hero-cont::before{
    content: '01';
    position: absolute;
    font-size: 3.2vw;
    font-family: 'silk serif';
    left: 18%;
    font-weight: 500;
    top: 30%;
}
.hero h1, .hero h2{
    height: fit-content;
    font-size: 7.2vw;
    font-weight: 900;
    line-height: 7.4vw;
    text-transform: uppercase;
    
}
.hero3-stroke{
    -webkit-text-stroke: 1px white;
    border-bottom: .6vw solid white;
    margin-right: 10px;
    transition: color ease .3s, border-bottom ease .3s;
}
.hero3-stroke:hover{
    color: transparent;
    border-bottom: .6vw solid transparent
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}
.video-cont{
    position: relative;
    width: 67vw;
    height: 57vh;
    padding: 10px;
    left: 27.5%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
}
.video-cont video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-cont img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#vdcrsr{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: #ffa63d;
    position: absolute;
    top: -4vw;
    left: 75%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#vdcrsr i{
    font-size: 1.7vw;
    color: white;
}
#page3{
    min-height: 100vh;
    width: 100vw;
    background-color: #232323;
}
#page4{
    min-height: 100vh;
    position: relative;
    width: 100vw;
    background-color: #151515;
    padding: 8vw 4vw;
}
.page4-cont{
    position: relative;
    width: fit-content;
    left: 25.5%;
    width: 74.5%;
}
.page4-cont h1::before{
    content: '03';
    position: absolute;
    font-size: 3vw;
    font-family: 'silk serif';
    left: -13%;
    font-weight: 500;
    top: -1%;
}
.page4-cont h1{
    font-size: 7.2vw;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 7.4vw;
    margin-bottom: 2.4vw;
}
.underline{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
}
.page4-cont h2{
    padding-top: 4vw;
    font-size: 2.5vw;
    font-weight: 500;
    width: 45.5vw;
    line-height: 2.7vw;
}
.page4-flex{
    margin-top: 10vh;
    display: flex;
    gap: 1.7vw;
}
.page4-flex img{
    width: 33vw;
    height: 100%;
    object-fit: cover;
}

.page4-flex-cont p{
    font-size: 1.1vw;
    width: 20vw;
    line-height: 1.8vw;
    margin-bottom: 1.5vw;
}
.page4-flex-cont p:nth-child(2){
    width: 21vw;
}
.page4-blue-div{
    position: relative;
    top: -17vh;
    left: 34%;
    width: 45vw;
    height: 41vw;
    background-color: #3f7df4;
    padding: 2.5vw 4vw;
}
.page4-blue-div .ele{
    display: flex;
    height: 6.8vw;
    align-items: center;
    border-bottom: 1px solid white;
}
.page4-blue-div .ele .ele1{
    font-size: 1.7vw;
    width: 12vw;
}
.page4-blue-div .ele .ele2{
    margin-left: 3vw;
    font-size: 1.1vw;
    font-weight: 500;
}
#we-work-with{
    margin-top: 4vh;
}
#page5{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #151515;
    overflow: hidden;
}
#page5 .elem, #page5 .elem2{
    position: relative;
    width: 100%;
    display: flex;
    white-space: nowrap;
}
#page5 .scroll-text {
    display: inline-block;
    animation: horscroll 20s linear infinite;
}
#page5 .elem2 .scroll-text {
    animation-direction: reverse;
    animation-duration: 30s;
}
#page5 .scroll-text h1{
    display: inline-block;
    font-size: 7vw;
    -webkit-text-stroke: 1.5px white;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    margin-right: 1vw;
}
#page5 .scroll-text span{
    font-family: 'silk serif';
    -webkit-text-stroke: 1px white;
    color: transparent;
}
@keyframes horscroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 1.1vw));
    }
}
#footer{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    padding: 0 5vw 5vw 5vw;
    background-color: #151515;
}
.page-num{
    width: 27vw;
    padding: 3.2vw 3vw;
    position: relative;
}
.page-num h1{
    position: relative;
    left: 70%;
    width: 30%;
    font-size: 3vw;
    font-weight: 900;
    font-family: 'silk serif';
}
#footer-cont{
    width: 100%;
}
#footer-title{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-bottom: 1.8vw;
}
#footer-title h1{
    font-size: 8vw;
    padding: 2vw 0;
    text-transform: uppercase;
}
#footer-title svg{
    height: 4.5vw;
}
#footer-div{
    padding: 5vw 0 7vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.box h3{
    font-size: 1vw;
    margin-bottom: 1.5vw;
}
.box li{
    font-size: 1.7vw;
    height: 1.7vw;
    list-style: none;
}
#footer-cont h4{
    padding: 2vw 0;
}